*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// $color-bg: #e74886;
$color-bg: #B94774;
$color-white: #fff;
$color-accent: #fa5091;

body {
  background-color: $color-bg;
  color: $color-white;
}
