*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-bg: #121212;
$color-white: #fff;
$color-accent: #f69;
$color-pink: #c634a0;

body {
  background-color: $color-bg;
  color: $color-white;
}
